<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimerMax" value="30" />
    
    <add key="ForestGlenURL" value="https://news.ycombinator.com/"/>

    <add key="EmailSender" value="r_soderberg@yahoo.com"/>
    <add key="EmailRecipient" value="r_soderberg@yahoo.com"/>

    <add key="EmailHost" value="10.0.0.13" />
    <add key="EmailPort" value="25" />
  </appSettings>
</configuration>