<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimerMax" value="4000" /><!--In seconds-->
    <add key="ForestGlenURL" value="http://www.forestglen-il.com/rockford/forest-glen-apartments/conventional/"/>
    <add key="UserAgent" value="probably-not-a-web-scraper" />
  </appSettings>
</configuration>