<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Alias Colors-->
    <add key=";babyblue" value="&lt;rgb=#66CCFF&gt;"/>
    <add key=";black" value="&lt;rgb=#000000&gt;"/>
    <add key=";blue" value="&lt;rgb=#0000FF&gt;"/>
    <add key=";darkgrey" value="&lt;rgb=#666666&gt;"/>
    <add key=";gold" value="&lt;rgb=#FFD700&gt;"/>
    <add key=";green" value="&lt;rgb=#00FF00&gt;"/>
    <add key=";grey" value="&lt;rgb=#999999&gt;"/>
    <add key=";lblue" value="&lt;rgb=#66CCFF&gt;"/>
    <add key=";lgreen" value="&lt;rgb=#99FF99&gt;"/>
    <add key=";pink" value="&lt;rgb=#FF99CC&gt;"/>
    <add key=";purple" value="&lt;rgb=#800080&gt;"/>
    <add key=";red" value="&lt;rgb=#FF0000&gt;"/>
    <add key=";sgreen" value="&lt;rgb=#339999&gt;"/>
    <add key=";white" value="&lt;rgb=#FFFFFF&gt;"/>
    <add key=";yellow" value="&lt;rgb=#FFFF00&gt;"/>
  </appSettings>
</configuration>