<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Old Baba's Hut-->
    <add key=";bhf" value="/p ;pink Old Baba's Hut has no flagging, questgiver is Adrian Martikov upstairs in the Blue Water Inn in Ravenloft (House Jorasco)."/>
    <add key=";bh1" value="/p ;grey Old Baba's Hut is a mostly split-party raid, requiring equally split resources on both sides to solve puzzles and defeat monsters when entering the hut. The end fight is a simple tank and spank with waves of trash."/>
    <add key=";bhh" value="/p ;red During the first and second phases in the clearing, the Hut will chase random people. If you have the debuff 'The Hut Hates You', kite the Hut around the outside of the clearing away from melee and tanks."/>
    <add key=";bhi1" value="/p ;lblue Between clearing phases, all players will enter the hut and split evenly between the left and right sides. Each side has floor tile puzzles and groups of trash to kill."/>
    <add key=";bhi2" value="/p ;pink During floor tile puzzles, small scarecrows must die at the same time to allow puzzle completion. Refrain from killing them alone, allow them to group up for a clean group kill."/>
    <add key=";bhs" value="/p ;red At the last two floor tile puzzles there will be a set of one, then two, red name scarecrows. One person should tank them, everyone else must leave them alone. Unless assigned, do NOT touch the red name scarecrows."/>
    <add key=";bhe" value="/p ;lpurple After the second time through the hut, you are dropped back in the clearing. Kill three sets of wisps and scarecrows then attack Baba. Raid leader will announce whether to focus Shambling Mounds or to rush Baba based on dps."/>

    <!--Lord of Blades-->

    <!--Master Artificer-->

    <!--The Codex and the Shroud-->
    
  </appSettings>
</configuration>