<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Hound of Xoriat-->
    <add key=";hxf" value="/p ;pink Hound of Xoriat has no flagging, questgiver is Niara Tonant in the Marketplace."/>
    <add key=";hx1" value="/p ;grey LHox is a group coordination raid. One designated person gathers quest items and charms the puppies to attack their mother since she is invulnerable to us until her hp is critical."/>
    <add key=";hx2" value="/p ;grey It is essential that the raid buffs, and does not kill the puppies. If charms wear off, we get a second set of puppies. If we fail two sets, we start the raid over."/>
    <add key=";hxc" value="/p ;lgreen The ideal charmer is a max level character that has as many Druid past lives as possible, Augment Summoning feat, and summon boosts from Druid and Primal Avatar."/>
    <add key=";hxh" value="/p ;lblue Make one loop around the main hall, pick up 4x Control Stones, then head to center. Target an uncharmed puppy and use the Control Stone to charm it, repeat until all are charmed. Note: Turn off Epic Def Fighting"/>
    <add key=";hxt" value="/p ;gold This is a simple raid to tank, run to the center and grab Xy'zzy and pups. Adjust so your back is to the longest (East) hallway and hold still. Try to keep charmed puppies hitting Xy'zzy from behind."/>
    <add key=";hxp" value="/p ;lpurple Once charmed, the puppies should be buffed with GH, Bard buffs, Haste, Druid pet buffs, etc that enhance attack speed, STR, or damage."/>

    <!--Temple of the Deathwyrm-->
    <add key=";tdf" value="/p ;pink Temple of the Deathwyrm requires defeating Sarva Bellistrae in the bottom of Thunderholme, questgiver is Thela Bonmar in the Thunder Peaks in Eveningstar."/>
    <add key=";tdi" value="/p ;grey Temple of Deathwyrm is a very long raid with many different (and varying) puzzles and challenges, ending with a group coordination-based fight against a Dracolich."/>
    <add key=";tdp" value="/p ;pink Puzzles vary by floor - there are 6 mirror puzzles and 2 portal options. For the portal options, only go left or right, NEVER straight."/>
    <add key=";td1" value="/p ;lpurple Mirror puzzles 1 and 2"/>
    <add key=";td2" value="/p ;lblue Choice of two potential puzzles: L = Jumping Room / R = Traproom."/>
    <add key=";td2p" value="/p ;lblue L = Jump buff and feather fall are almost essential, wings/charge/spring attack/etc are very useful / R = Trappers essential, beware of traps and pull levers for group"/>
    <add key=";td3" value="/p ;blue Mirror puzzles 3 and 4."/>
    <add key=";td4" value="/p ;pink Bone Guardian fight. Tank and spank fight, just beat him up like the loot pinata he is."/>
    <add key=";td5" value="/p ;grey Mirror puzzles 5 and 6."/>
    <add key=";td6" value="/p ;lgreen Choice of two potential puzzles: L = Red Light, Green Light / R = Shadow Tower."/>
    <add key=";td6p" value="/p ;lgreen L = Move when green, stop moving when yellow, stand still when red / R = High burst by phylactery, group up top. If you get purple hazy debuff, drop down to phylactery (hold block to not slowfall)"/>
    <add key=";td7" value="/p ;red Shrine room - RAID LOCKOUT! Do not move until all players have entered this area."/>
    <add key=";tde1" value="/p ;gold Tank picks up dragon, kiter handles Kuldjargh when they spawn. Once kiter is hanging, raid begins hitting dragon until Shadows spawn. Stop dmg on dragon during shadow phases to avoid knocking players out of shadow phase."/>
    <add key=";tde2" value="/p ;gold Dps enter shadow portals and get in line to take turns going into the portal at the NE corner - type IN when entering and OUT when you've fully loaded out. Inside the inner portal, kill the phylactery. Repeat these steps until true phylactery is found."/>
    <add key=";tde3" value="/p ;lpurple Once the true phylactery has been found, a new shadow phase begins where you must enter the shadow realm to gather eight shards. Light the torches in the light phase with these flames to activate the levers on the NE and SE corners."/>
    <add key=";tde4" value="/p ;lpurple Once all torches are lit, tank pulls dragon to central mound to be executed by both corner levers. Both levers must be pulled at the same time when Aurglorasa lays down."/>
    <add key=";tdt" value="/p ;lblue Deathblock required (not Death Ward). Tank Aurgloroasa against the South wall for most of the fight. In the final phase, drag her to the center bone pile for killing."/>
    <add key=";tdk" value="/p ;lblue 5 Kuldjargh will spawn in a pentagonal pattern (NE, SW, NW, SE, W). A tank or highly mobile player picks them up, then kites them to the entrance. Jump and hang on the N side wall, then go get ice cream :)"/>

    <!--Fire on Thunder Peak-->
    <add key=";fpf" value="/p ;pink Fire on Thunder Peak requires defeating Dagan: Regent of Thunderholme in the upper part of Thunderholme, questgiver is Vaklos Halmar in the Thunder Peaks in Eveningstar."/>
    <add key=";fp1" value="/p ;grey Fire on Thunder Peak is a short raid which consists of one major boss encounter split on opposite sides of the arena. Both dragons must be separated, or they will be invulnerable."/>
    <add key=";fp2" value="/p ;grey The raid flow is dragon phase 1, trash phase, dragon phase 2, attack Meridian while unshielded until broken, then finish off dragons from final %5 hp."/>
    <add key=";fpd1" value="/p ;lblue Nevalarich (Fatty) enters first, attacking with mostly cleaving melee and some breath attacks. Strong tank or heavy kiting required for second dragon phase."/>
    <add key=";fpd2" value="/p ;pink Tharaxata (Skinny) enters second, attacking with more ranged fire attacks and some melee. Can be tanked by a ranged player with kiting or standing in one of the 'safe' spots."/>
    <add key=";fpt" value="/p ;lpurple When dragons fly away, the trash spawns must be handled smallest to largest. Once the Magma Volcanoes are dead, the dragons re-enter the arena for second dragon phase."/>
    <add key=";fpm" value="/p ;gold During second dragon phase, the Meridian's shield will occasionally drop at which time it will be vulnerable to damage for a brief period.  Burst it down over several shield-drop phases (Arcane Pulse is great here)."/>

  </appSettings>
</configuration>