<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Too Hot to Handle-->
    <add key=";thf" value="/p ;pink To flag for THTH you must complete all of the Masterminds of Sharn 1 and 2 quest chains. After doing so come to the Raid Staging Area and pick it up from Grem Alcorin."/>
    <add key=";thw" value="/p ;red The main mechanic of THTH is the Forgewraiths. There are three types: Spirits, Enraged, and Giants. Whenever they die, all nearby wraiths upgrade and fully heal. Let the sunbursters handle it."/>
    <add key=";thc" value="/p ;lblue The coolant tanks need to be solved after phase 1. If the left lever is pointed at the machine pull it, followed by the right and then center. Only pull levers pointed at the coolers."/>
    <add key=";thp1" value="/p ;gold The puzzles need to be solved at the beginning of phase 1, if they aren't solved quickly enough a stacking fire DoT will affect the raid. The center console after we enter the foundry has the solutions."/>
    <add key=";thp2" value="/p ;gold If you are assigned a puzzle, write the solution in chat (1 - RRYYBB) to avoid confusion. After the solution is input, pull the far right lever to check it. If the top light stays green for more than 5 seconds, you're good."/>
    <add key=";tht" value="/p ;grey At the beginning of phase 2, a trapper will go to each puzzle, disable the trap box, and pull the far right lever to confirm it. Do not disable the trap boxes before the top light is red."/>
    <add key=";thb" value="/p ;orange At the end of each phase a Forgewraith titan will emerge from the lava. The tank stands on one side, everyone else stands in melee range on the other side. Forge Skulls will occasionally spawn, and ranged dps/sunbursts will need to kill them."/>
    <add key=";thp" value="/p ;lpurple This raid has 3 main phases, each capped by the titan. The first phase is just puzzling, the second is trapping and coolant tanks, and the third is a Giant spawning near where the boss left."/>
    <add key=";thm" value="/p ;green The non-wraith trash mobs in this raid will attempt to throw themselves into lava, spawning Enraged Forgewraiths. We want to prevent that. Don't use Turn to Frog, as the frogs (and yourself) can jump in lava and spawn Wraiths."/>
    
    <!--Project Nemesis-->
    <add key=";pnf" value="/p ;pink PN has no flagging, just get to the Raid Staging Area and talk to Zaira Dane. Enter the cogs, exit the center area going Northeast, and then travel South ASAP."/>
    <add key=";pn1" value="/p ;grey Project Nemesis is a coordination/puzzle raid. Basically, there's four minibosses, and we have to execute them with a laser to suck their soul out. Drop them to low HP, then wait for everything to be ready before we kill them."/>
    <add key=";pn2" value="/p ;grey After each miniboss is killed, their soul is dropped off and three of us will get a colored circle around your feet."/>
    <add key=";pne" value="/p ;lgreen If you get a colored circle at your feet after laser, walk into the corresponding circle at the edge of the room. You'll then fight an elemental miniboss. Avoid circles on the ground."/>
    <add key=";png" value="/p ;gold Gish is the gnoll minoboss. He periodically has a spin attack, but his real threat is that his attacks have a stacking debuff that reduces PRR and AC by -10 per stack (up to 20 stacks)."/>
    <add key=";pni" value="/p ;lblue Irk is the goblin miniboss, on a flying platform. He sometimes drops mines, but his special attack is a homing crossbow bolt. If you get targeted, hide behind a pillar."/>
    <add key=";pnr" value="/p ;lpurple Rudus is the minotaur miniboss. He periodically jumps into the air, and smashed down with massive AoE damage. If you jump when he jumps you take no damage, otherwise stay far away."/>
    <add key=";pnz" value="/p ;pink Zulkis is the tiefling miniboss. He has some strong spell attacks, but his critical mechanic is that he'll dimension door away if you melee him. Don't melee him."/>
    <add key=";pnp" value="/p ;blue The puzzles in PN power the laser beam, but if the central circles are lit the raid will eventually fail. Make sure the central circles are unpowered."/>
    <add key=";pnt" value="/p ;blue If Zulkis is left for last and the two puzzles behind the laser are solved you can safely deactivate all the other puzzles."/>
    <add key=";pnc" value="/p ;red On E+ difficulties there's a periodic curse that strikes the whole party. Remove Curse within 5s or die."/>
  </appSettings>
</configuration>