<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Dryad and the Demigod-->
    <add key=";ddf" value="/p ;pink Dryad and the Demigod has no flagging, questgiver is Hermia in the Southwest corner of Wynwood Hall."/>
    <add key=";dd1" value="/p ;grey Dryad is a miniquest raid, the main party goes to each corner fighting some mobs and doing a puzzle before returning to the center for a fight."/>
    <add key=";ddu" value="/p ;lgreen Three unicorns respawn and teleport around the center area. If one is following you bring it to the tank in the center."/>
    <add key=";ddt" value="/p ;gold To easily tank this raid grab unicorn aggro and kite around the edge of the central grassy area. Avoid circles dropped by unicorns."/>
    <add key=";ddi" value="/p ;gold One instakiller or burst dps ranged character will hang out in the center killing non-unicorns. Avoid dying and join the party for the bear phase."/>
    <add key=";ddg" value="/p ;lpurple At each corner of the raid there will be a guardian, sometimes they can be bluffed to skip them otherwise they have to be killed."/>
    <add key=";dde" value="/p ;lpurple If you see the guardian winding up for a powerful attack, jump to avoid the earthgrab effect."/>
    <add key=";ddp" value="/p ;darkgrey Puzzles get messed up if anything steps on them so try not to. 23412 and 43214 starting from the left (facing floating stones) will solve them. Green button up top is a reset."/>
    <add key=";ddfb" value="/p ;lblue The first fight is a swarm of fire beetles attempting to flee the portal. Try to cc and kill all of them, but there's a little leeway if a few escape."/>
    <add key=";ddc" value="/p ;blue The next miniboss has a super fun animation, it's worth standing in front of them if you haven't seen it before."/>
    <add key=";ddb" value="/p ;pink The next miniboss has a special attack that does more damage the further away you are. Crowd in and watch your HP."/>
    <add key=";ddd" value="/p ;red If a phase goes on too long in Dryad, a dance geas will hit the whole party. Follow the arrows above your head or take increasing damage."/>
    <add key=";ddfk" value="/p ;lgreen The final boss has a conical gaze attack, let the tank turn him away from the party before attacking."/>
    <add key=";ddub" value="/p ;orange During the boss fight a respawning unicorn wanders around and tries to shank squishy characters. Watch out for circles it drops."/>

    <!--Hunt or be Hunted-->


    <!--Skeletons in the Closet-->
    
  </appSettings>
</configuration>