<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Lord of Blades-->

    <!--Master Artificer-->

    <!--Vision of Destruction-->
    <add key=";vdf" value="/p ;pink Vision of Destruction has no flagging, questgiver is Tala Brin in the center of the marketplace by the bridge to your airship."/>
    <add key=";vd1" value="/p ;grey Vision of Destruction is an extended boss-fight raid. It's all in one room and there are waves of trash alongside the boss."/>
    <add key=";vdc" value="/p ;lblue Frequently the whole raid group will be cursed with a curse that stops healing. Chug Remove Curse pots as needed."/>
    <add key=";vde" value="/p ;lgreen Sometimes the boss drops circles on the ground that explode with electric damage after a few seconds. Try not to stand in them."/>
    <add key=";vdt" value="/p ;gold There are 8 trap boxes around the room. If left alone they will eventually spawn blade traps, but there's a long window to disarm them."/>
    <add key=";vdo" value="/p ;lpurple At the start and near the end of the raid 4 orthons will drop. They hit very hard, so use defensive clickies and let your tanks grab them."/>
    <add key=";vdb" value="/p ;blue Exploding Bats will drop in waves later on during the raid, they are very fragile but hit hard in an AoE so try to kill them first."/>
    <add key=";vdd" value="/p ;pink Barbazu Legionnaires drop across the raid, they are vulnerable to cc/instakills but otherwise fairly chunky with decent damage."/>

    <!--Killing Time-->
    
  </appSettings>
</configuration>