<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <!--local file target-->
    <target name="fileTarget"
              xsi:type="File"
              fileName="C:\logs\titan.log"
              layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />

    <!--database target-->
    <target name="database"
            xsi:type="Database"
            connectionString="Server=BOXXERP2;Database=BOXX_V2;user id=websurfer;password=cyaid10t;"
            commandText="exec dbo.InsertLog
                          @level,
                          @callSite,
                          @type,
                          @message,
                          @stackTrace,
                          @innerException,
                          @additionalInfo,
                          @sendingApplication">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                 layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${message}" />
      <parameter name="@sendingApplication" layout="BoxxServiceTitan" />
    </target>
  </targets>

  <rules>
    <!--local file logger-->
    <logger minlevel="Trace" name="fileLogger" writeTo="fileTarget"/>
    <!--database logger-->
    <logger levels="Debug,Info,Error,Warn,Fatal" name="databaseLogger" writeTo="database"/>
    <!--Remove Debug when going into Production-->
  </rules>
</nlog>
