<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FedEx_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!--FedEx PRODUCTION-->
    <add key="Production:FedExEndpoint" value="" />
    <add key="Production:FedExPassword" value="" />
    <!--Required for All Web Services-->
    <add key="Production:FedExKey" value="" />
    <!--Required for FedEx Web Services for Intra Country Shipping in US and Global-->
    <add key="Production:FedExAccoutNumber" value="" />
    <add key="Production:FedExMeterNumber" value="" />
    <!--FedEx Web Services Freight LTL Testing Information (used in the Freight Shipment Detail)-->
    <add key="Production:ShipperAddressLine1" value="" />
    <add key="Production:ShipperAddressLine2" value="" />
    <add key="Production:ShipperCity" value="" />
    <add key="Production:ShipperState" value="" />
    <add key="Production:ShipperZip" value="" />
    <add key="Production:ShipperCountry" value="" />

    <!--FedEx DEVELOPMENT-->
    <add key="Development:FedExEndpoint" value="https://wsbeta.fedex.com:443/web-services" />
    <add key="Development:FedExPassword" value="vAWCz6RubgQrBTDoeq5PpWX5X" />
    <!--Required for All Web Services-->
    <add key="Development:FedExKey" value="Qa3EsCQ3bL4ufvlq" />
    <!--Required for FedEx Web Services for Intra Country Shipping in US and Global-->
    <add key="Development:FedExAccoutNumber" value="510087860" />
    <add key="Development:FedExMeterNumber" value="100507235" />
    <!--FedEx Web Services Freight LTL Testing Information (used in the Freight Shipment Detail)-->
    <add key="Development:ShipperFreightAccountNumber" value="510087020" />
    <add key="Development:ShipperAddressLine1" value="SHIPPER ADDRESS LINE 1" />
    <add key="Development:ShipperAddressLine2" value="" />
    <add key="Development:ShipperCity" value="Austin" />
    <add key="Development:ShipperState" value="TX" />
    <add key="Development:ShipperZip" value="73301" />
    <add key="Development:ShipperCountry" value="US" />
              
    <add key="Development:BillToAccountNumber" value="510051408" />
    <add key="Development:BillToAddressLine1" value="RECIPIENT ADDRESS LINE 1" />
    <add key="Development:BillToAddressLine2" value="" />
    <add key="Development:BillToCity" value="Collierville" />
    <add key="Development:BillToState" value="TN" />
    <add key="Development:BillToZip" value="38017" />
    <add key="Development:BillToCountry" value="US" />

    <!--Environment-->
    <!--
    IsProduction must be set depending on whether the environment is currently Prod or Dev.
    This is used in Startup.cs to determine whether to use Prod or Dev SQLServers for the context.
    -->
    <add key="IsProduction" value="TRUE" />
    <!--Production = "TRUE" / Development = "FALSE"-->
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <FedEx_Service.Properties.Settings>
      <setting name="FedEx_Service_RateService_v28_RateService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/rate</value>
      </setting>
    </FedEx_Service.Properties.Settings>
  </applicationSettings>
</configuration>
