@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Important Header!</h1>
    <p class="lead">This is a description of the important header, in the jumbotron for all to see.</p>
    <p>Here's a button with a link to <a href="https://www.google.com/" class="btn btn-primary btn-lg">Google!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This is a header, but of slightly less importance than h1</h2>
        <p>
            Here is more content and a default button link to learn more about ASP.NET MVC:
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>