@{
    ViewBag.Title = "About The White Elephant Gift Planner";
}

<div class="row"; style="margin-left:auto">
    <h1>@ViewBag.Title</h1>

        <p>
            The White Elephant Gift Planner is a web application that streamlines the tedious gift giving 
            process, providing users with an easy-to-read list of upcoming events for their group and the 
            gifts members have already spoken for to avoid any awkward conflicts! The option for secrecy 
            allows groups to plan White Elephant parties without revealing their gift ideas to the recipient;
            or even letting the recipient know you've planned them a surprise party!
            <br /><br />
            The White Elephant Gift Planner was created under the alias "The White Elephant Project" in 2016 by
            Oregon Tech's Junior Project team members Patrick Carlson, Keyul Patel, Matt Dougal, and
            Rachel Soderberg. This project is expected to launch by June 2017!
        </p>

        <br />

        <strong>How to use the White Elephant web app:</strong><br />    
        <p>
            Create or select a group from the dropdown to start managing your White Elephant parties -
            once you've selected your group you can create new events, manage old events, add gifts
            to your wishlist, and claim the gifts you've purchased for others anonymously!
        </p>
    </div>
