<div class="row"; style="margin-left:auto">

    <h1>Contact Us!</h1>

    <address>
        Proudly developed on the<br />
        Oregon Tech Wilsonville Campus:<br /><br />
        27500 SW Parkway Ave<br />
        Wilsonville, OR 97070<br />
        (503) 821-1250
    </address>

    <address>
        <strong>Questions or Concerns:</strong> <a href="mailto:oitjp2016@outlook.com">oitjp2016@outlook.com</a>
    </address>

    <body>
        Created by: <br/ >
        Patrick Carlson,
        Keyul Patel,
        Matt Dougal,
        and Rachel Soderberg
    </body>
</div>