
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title.</h2>

<div class="jumbotron text-center">
    <h1>This is the main header of the page</h1>
    <p class="text_info">The text responds as you resize the page, <mark>growing and shrinking</mark> accordingly</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p class="text-danger">The columns also move..</p>
            <p class="text-muted">Moving above and beside..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p class="text-danger">when the screen..</p>
            <p class="text-muted">one another to..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p class="text-danger">is resized!</p>
            <p class="text-muted">match any screen size!</p>
        </div>
    </div>
</div> 